.wrapperAuthorDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Open Sans;
  span {

    &:nth-child(2) {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
    }

    &:last-child {
      font-family: Open Sans;
    }

  }
}
