.flexColumnCenter{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap:30px;
  padding: 80px 24px;
  color: #FFFFFF;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1.67) 0.18%, rgba(0, 0, 0, 0.8) 80.69%);

  button{
    width: 202px;
    height: 60px;
    padding: 12px 24px;
  }
}

.findLove{
  display: flex;
  gap: 24px;
}